@font-face {
  font-family: domain;
  src: url(./DomaineDispCondMedium.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

#page1 {
  height: 150vh;
  width: 100vw;
  background-color: #c4bcb3;
  position: relative;
  overflow: hidden;
}

#nav {
  height: 110px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
  border-bottom: 1px solid #222;
}

#nav img {
  height: 30px;
  width: 30%;
}

#nav h5 {
  font-size: 20px;
  font-weight: 100;
  width: 30%;
}

#nav i {
  width: 30%;
  text-align: right;
}

#elems {
  height: 430px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 60px;
}

#elem1 {
  width: 30%;
  height: 100%;
}

#elem2 {
  width: 30%;
  height: 100%;
  text-align: center;
  padding: 20px 60px;
  border-right: 1px solid #7d7d7d;
  border-left: 1px solid #7d7d7d;
}

#elem3 {
  width: 30%;
  height: 100%;
}

#elem1 #image-div {
  height: 50%;
  width: 100%;
  overflow: hidden;
}

#image-div img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: all ease 0.5s;
}

#elem3 #image-div {
  height: 50%;
  width: 100%;
  overflow: hidden;
}

#image-div:hover img {
  scale: 1.1;
}

#elem1 h4 {
  color: #2d2d2d;
  font-size: 24px;
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: canopee;
}

#elem1 h4 span {
  background-color: #b43b12;
  color: white;
  font-weight: 100;
  font-size: 18px;
  padding: 4;
  border-radius: 5px;
}

#elem1 p {
  font-size: 22px;
  font-family: domain;
  font-weight: 100;
  color: #656565;
}

#elem3 h4 {
  font-size: 24px;
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: canopee;
}

#elem3 h4 span {
  background-color: #b43b12;
  color: white;
  font-weight: 100;
  font-size: 18px;
  padding: 4;
  border-radius: 5px;
}

#elem3 p {
  font-size: 22px;
  font-family: domain;
  font-weight: 100;
  color: #656565;
}

#elem2 h2 {
  font-family: canopee;
  font-size: 75px;
  font-weight: 100;
  color: #252525;
}

#elem2 h3 {
  color: #393939;
  font-family: domain;
  font-size: 43px;
  font-weight: 70;
  margin: 20px 0;
}

#elem2 h6 {
  color: #393939;
  font-family: domain;
  font-size: 20px;
  font-weight: 100;
}

#page1 h1 {
  font-size: 550px;
  letter-spacing: -25px;
  font-weight: 100;
  font-family: canopee;
  background-color: #1c1c19;
  color: #c4bcb3;
  line-height: 600px;
  width: 96%;
  height: 700px;
  margin-left: 2%;
  text-align: center;
  margin-top: 0;
}

#page2 {
  height: 180vh;
  width: 100%;
  background-color: #c4bcb3;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 90px 30px;
}

#page2-left {
  height: 100%;
  width: 30%;
  /* background-color: red; */
  padding-right: 40px;
  border-image: 1px solid red;
}
#page2-left h2 {
  font-size: 100px;
  font-family: canopee;
  line-height: 100px;
  font-weight: 100;
}
#page2-left h2 span {
  font-size: 150px;
  font-weight: 900;
}

#page2-left img {
  height: 50%;
  width: 100%;
  object-fit: cover;
}
#page2-left p {
  font-size: 30px;
  font-family: domain;
  color: #2f2f2f;
  margin-top: 20px;
}
#page2-left p span {
  background-color: black;
  color: wheat;
  font-size: 50px;
  margin-top: 5px;
}


#page2-right{
  height: 100%;
  width: 60%;
  padding: 0 50px;
  font-size: 20px;
}

#page2-righ img{
  height: 60%;
  object-fit: cover;
}